{% extends 'base.html' %}

{% block header %}
{% if messages %}
    {% for message in messages %}
        {{message}}
    {% endfor %}
{% endif %}
{% endblock header %}

{% block form %}

 <!-- ======= SIGN UP Section ======= -->
 <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container">

      <div class="row">
        <div class="offset-md-3  col-lg-6">
          <form  class="myform" method="POST" action="/signup/">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="fname" class="form-control" id="name" placeholder="First name" required>
              </div>
              <div class="col-md-6 form-group">
                <input type="text" name="lname" class="form-control" id="name" placeholder="Last name" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="username" id="subject" placeholder="Username" required>
            </div>
            <div class="form-group mt-3">
              <input type="email" class="form-control" name="email" id="subject" placeholder="Email Adress" required>
            </div>
            <div class="form-group mt-3">
              <input type="password" class="form-control" name="password" id="subject" placeholder="Password" required>
            </div>
            <div class="text-center"><button type="submit">SIGN UP</button></div>
            <p class="text-center mt-3"> Do not have an acount ? Then <a href="/login">LOGIN </a> </p>
          </form>
          
        </div>

      </div>

    </div>
  </section><!-- End SIGN UP Section -->

{% endblock form %}